@font-face {
    font-family: "cartoon font";
    src: url("./fonts/chicken_pie/CHICKEN\ Pie.otf") format("opentype");
    font-weight: 100;
}

body,
html {
    margin: 0;
    padding: 0;
    opacity: 0;
    min-height: 100dvh;
}

html {
    background-image: url("./assets/background.png");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loaded {
    animation: 1s ease-out 0s 1 forwards pageLoad;
}

@keyframes pageLoad {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#title {
    font-family: "cartoon font";
    font-size: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    color: rgb(219, 188, 104);
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.title-loaded {
    animation: 2s ease-in-out 0.5s 1 funky;
}

.title-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 20px;
    padding: 0px 10px;
    margin-top: 10px;
}

.snake-img.loaded {
    margin-right: 3px;
    animation: 2s ease-in 0.5s 1 forwards funkySpin;
}

@keyframes funky {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2) translateY(100px);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes funkySpin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2) translateY(100px) rotate(180.5deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}

.start-button {
    font-family: "cartoon font";
    background-color: green;
    color: rgb(219, 188, 104);
    font-size: xx-large;
    opacity: 0;
}

.start-button.visible {
    animation: 1s ease-out 2.8s 1 forwards pageLoad;
}

.start-button.clicked {
    opacity: 1;
    animation: 1s ease-out 0s 1 forwards fadeOut;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.start-button:disabled {
    display: none;
}

#grid {
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    outline: 3px solid black;
    box-sizing: border-box;
}

.grid-div-container {
    display: flex;
}

.grid-div {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.grid-div>img {
    height: 20px;
    width: 20px;
}

.head {
    transition: transform 0.5s linear;
}

.head.right {
    transform: rotateY(180deg);
}

.head.left {
    transform: rotateY(0deg);
}

.head.up {
    transform: rotateZ(90deg);
}

.head.down {
    transform: rotateZ(-90deg);
}

.tail {
    transition: transform 0.5s linear;
}

.tail.right {
    transform: rotateY(180deg);
}

.tail.left {
    transform: rotateY(0deg);
}

.tail.up {
    transform: rotateZ(90deg);
}

.tail.down {
    transform: rotateZ(-90deg)
}

.body {
    transition: transform 0.5s linear;
}

.body.horizontal {}

.body.vertical {
    transform: rotateZ(90deg) translateY(-1px);
}

.turn {
    transform-origin: center;
}

/* 0 degrees: Connects Top and Right (┌) */
.turn.turn-tr {
    transform: translate(3px, -3px) rotate(270deg);
}

/* 90 degrees clockwise: Connects Right and Bottom (┐) */
.turn.turn-br {
    transform: translate(4px, 3px) rotate(0deg);
}

/* 180 degrees clockwise: Connects Bottom and Left (┘) */
.turn.turn-bl {
    transform: translate(-3px, 4px) rotate(90deg);
}

/* 270 degrees clockwise: Connects Left and Top (└) */
.turn.turn-tl {
    transform: translate(-4px, -3px) rotate(180deg);
}